<!DOCTYPE html>
<html>
<head>
</head>
<table>
<% @augmented_activities.each do |aa| %>
<tr>
<td><%= aa.description %><br>Participa <%= aa.pcount %> oameni<br>Participa <%= aa.plist %></td>
<td><form method="POST" action="/dosetpreference/<%= aa.id %>"><button type="submit">Vin si eu</button></form></td> 
</tr>
<% end %>
<% if @allow_add_activity %>
<tr>
<form method="POST" action="/doaddactivity">
<td><input type="text" name="activity[description]" required></td>
<td><button type="submit">Trimite propunere</button></td>
</form>
</tr>
<% end %>
</table>
</html>
